<settings>
  <setting propertyKey="@Properties.theme" title="Background color">
    <settingConfig type="list">
      <listEntry value="0">black</listEntry>
      <listEntry value="1">white</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.autoSwitchTheme" title="Switch to black background during sleep hours">
    <settingConfig type="boolean" required="true"/>
  </setting>

  <setting propertyKey="@Properties.showSeconds" title="Show seconds when watch is active (garmin detects that you are looking at watch)">
    <settingConfig type="boolean" required="true"/>
  </setting>

  <setting propertyKey="@Properties.updateHRZone" title="Update heart rate (HR) during active when HR zone is higher and equal than X (by default HR updates once per minute)">
    <settingConfig type="list">
      <listEntry value="0">always (consumes most battery)</listEntry>
      <listEntry value="1">1</listEntry>
      <listEntry value="2">2</listEntry>
      <listEntry value="3">3</listEntry>
      <listEntry value="10">Disabled</listEntry>
    </settingConfig>
  </setting>

    <setting propertyKey="@Properties.updateBodyBatt" title="Update Body Batter every X minutes">
    <settingConfig type="list">
      <listEntry value="1">1</listEntry>
      <listEntry value="5">5</listEntry>
      <listEntry value="10">10</listEntry>
      <listEntry value="15">15</listEntry>
      <listEntry value="30">30</listEntry>
      <listEntry value="60">60</listEntry>
      <listEntry value="99999">Never</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.powerSavingMin" title="Enter power saving mode when inactive for more than X minutes">
    <settingConfig type="list">
      <listEntry value="5">5</listEntry>
      <listEntry value="10">10</listEntry>
      <listEntry value="15">15</listEntry>
      <listEntry value="30">30</listEntry>
      <listEntry value="60">60</listEntry>
      <listEntry value="99999">Never</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.heartRateAlert" title="Show RED ring light when HR is in zone 5 and above">
    <settingConfig type="boolean" required="true"/>
  </setting>

  <setting propertyKey="@Properties.stressAlertLevel" title="Show ORANGE ring light when stress is above X for 3 min">
        <settingConfig type="list">
            <listEntry value="50">50 (consumes more battery)</listEntry>
            <listEntry value="60">60</listEntry>
            <listEntry value="70">70</listEntry>
            <listEntry value="100">Disabled</listEntry>
        </settingConfig>
  </setting>

  <setting propertyKey="@Properties.moveAlert" title="Show BLUE ring light when inactive for more than 2h. Reset by taking a short walk. This is based on Garmin move bar.">
    <settingConfig type="boolean" required="true"/>
  </setting>
</settings>
